body {
  background-color: gray;
}

.container {
  border: 2px solid black;
}

#gameTitleDiv {
  border: 2px solid black;
  background-color: blue;
}

#usa {
  color: red;
}

#gameTitle {
  color: white;
  text-align: center;
  margin-top: 8px;
  font-size: 40px;
}

#selectSwimmerControls {
  border: 2px solid black;
}

#gameMessageBox {
  border: 2px solid black;
  background-color: white;
}

#gameMessage {
  color: red;
  text-align: center;
  margin-top: 8px;
  font-size: 20px;
}

#swimmerFirstName {
  font-size: 12px;
  margin-left: -11px;
}

#phelps{
  height: 100px;
  margin-left: -3px;
  margin-top: -11px;
}

#lochte{
  height: 100px;
  margin-left: -1px;
  margin-top: -11px;
}

#ledecky{
  height: 100px;
  margin-left: -9px;
  margin-top: -11px;
}

#manuel{
  height: 100px;
  margin-left: 0px;
  margin-top: -11px;
}

#adrian{
  height: 100px;
  margin-left: -3px;
  margin-top: -11px;
}

#dirado{
  height: 100px;
  margin-left: -3px;
  margin-top: -11px;
}

.selectSwimmer {
  display: inline-block;
  border: 2px solid black;
  height: 120px;
  background-color: white;
  object-fit: fill;
}

#boardControls {
  border: 4px solid black;
  height: 249px;
}

.controlDesign {
  margin: 8px;
}

#swimmerScoreBoard {
  border: 2px solid black;
}

.swimmerNames {
  border: 2px solid black;
  background-color: black;
  color: white;
}

#player1Name {
  margin-top: 2px;
}

#player1Score {
  text-align: center;
  font-size: 20px;
  height: 22px;
  font-weight: bold;
  color: white;
}

#player2Name {
  margin-top: 2px;
}

#player2Score {
  text-align: center;
  font-size: 20px;
  height: 22px;
  font-weight: bold;
  color: white;
}

.swimmerScores {
  border: 2px solid black;
  background-color: black;
  color: white;
}

.swimmerControlKey {
  border: 2px solid black;
  text-align: center;
  height: 35px;
  background-color: green;
}

.swimmerControlKeyBox {
  margin-top: 6px;
  margin-left: 25px;
  width: 290px;
  color: white;
}

#reset {
  width: 200px;
}

#raceAgain {
  width: 200px;
}

#startGame {
  width: 200px;
}

#gameOnYourMarksBox {
    text-align: center;
    width: 200px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    height: 30px;
    margin-left: 75px;
    visibility: hidden;
}

#goBox {
  text-align: center;
  width: 200px;
  background-color: green;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 5px;
  height: 30px;
  margin-left: 75px;
  margin-top: -12px;
  color: white;
  visibility: hidden;
}

#raceBoard {
  border: 2px solid black;
  height: 334px;
}

#poolImage {
  width: 960px;
  margin-left: -14px;
}

#swimmerOne {
  height: 100px;
  width: 100px;
  /*background-color: red;
  border: 2px solid black;*/
  visibility: hidden;
  position: absolute;
  margin-top: 35px;
  margin-left: 50px;
}

#swimmerTwo {
  height: 100px;
  width: 100px;
  /*background-color: blue;
  border: 2px solid black;*/
  visibility: hidden;
  position: absolute;
  margin-top: 190px;
  margin-left: 50px;
}

#phelpsRace {
  height: 120px;
  margin-top: -10px;
}

#lochteRace {
  height: 120px;
  margin-top: -10px;
}

#ledeckyRace {
  height: 115px;
  margin-top: -10px;
  margin-left: -5px;
}

#manuelRace {
  height: 120px;
  margin-top: -10px;
  margin-left: 5px;
}

#adrianRace {
  height: 120px;
  margin-top: -10px;
}

#diradoRace {
  height: 120px;
  margin-top: -10px;
  margin-left: 3px;
}
